.card-top {
    padding: 20px;
    background-color: #231f20;
    border-radius: 4px;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-bottom {
    padding: 20px;
    background-color: #c6cdc9;
    border-radius: 0px 0px 4px 4px;
    width: 350px;
    height: 33px;
    display: flex;
    margin-top: -60px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;
    padding: 0;
}
.top-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 0px;
}

h4 {
    color: #c6cdc9;
    font-size: .66em;
    font-family: monospace;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
    font-size: 1em;
    color: #bba795;
    text-align: justify;
}

.quote {
    border-top: #bba795;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 1rem;
    padding-bottom: .4rem;
    margin-top: 10px
}

img {
    border-radius: 3px;
    z-index: 9999;
}